<div class="add-beach-form">
    <button class="close">&times;</button>
    <form>
        <div class="form-group">
            <label for="beach-name">Название пляжа</label>
            <input type="text" class="form-control title" id="beach-name"/>
        </div>
        <div class="form-group">
            <label for="beach-address">Адрес</label>
            <input type="text" class="form-control address" id="beach-address"/>
        </div>
        <div class="form-group input-file-wrapper">
            <!-- пока лень <button type="button" class="btn btn-default">Добавить фото</button> -->
            <label for="beach-file">Фото</label>
            <input type="file" class="file" id="beach-file"/>
        </div>

        <div class="col-sm-2">
            <b>Входит</b>
        </div>
        <div class="btn-group col-sm-10" data-toggle="buttons">
            <label class="btn checkbox-custom">
                <input type="checkbox" class="chairs" autocomplete="off">Шезлонги
            </label>
            <label class="btn checkbox-custom">
                <input type="checkbox" class="cafe" autocomplete="off">Кафе
            </label>
            <label class="btn checkbox-custom">
                <input type="checkbox" class="parking" autocomplete="off">Стоянка
            </label>
            <label class="btn checkbox-custom">
                <input type="checkbox" class="kidsPlace" autocomplete="off">Детская площадка
            </label>
            <label class="btn checkbox-custom">
                <input type="checkbox" class="swimming" autocomplete="off">Места для купания
            </label>
            <label class="btn checkbox-custom">
                <input type="checkbox" class="aquaFun" autocomplete="off">Развлечения на воде
            </label>
            <label class="btn checkbox-custom">
                <input type="checkbox" class="barbecue" autocomplete="off">Места для барбекю
            </label>
        </div>
        <div class="col-sm-2">
            <b>Цена</b>
        </div>
        <div class="btn-group col-sm-10" data-toggle="buttons">
            <label class="btn radio-custom ">
                <input class='price' name="price" value="true" type="radio" name="options" id="option1"
                       autocomplete="off" checked> Платно
            </label>
            <label class="btn radio-custom active">
                <input class='price' name="price" value="false" type="radio" name="options" id="option2"
                       autocomplete="off"> Бесплатно
            </label>
        </div>

        <div class="form-group">
            <b>Оценка</b>

            <div class="raiting choose">
                <span>рейтинг <span class="mark">3</span></span>
            </div>
        </div>
        <!--<div class="form-inline" style="margin-bottom: 10px">-->
            <!--<div class="form-group" style="width: 40%; margin-right: 10px">-->
                <!--<label class="sr-only" for="lat">lat</label>-->
                <!--<input type="text" class="lat form-control" id="lat" placeholder="lat" style="width: 100%">-->
            <!--</div>-->
            <!--<div class="form-group" style="width: 40%;">-->
                <!--<label class="sr-only" for="lon">lon</label>-->
                <!--<input type="text" class="lon form-control" id="lon" placeholder="lon" style="width: 100%">-->
            <!--</div>-->
        <!--</div>-->

        <button type="button" class="btn btn-custom save">Сохранить</button>
    </form>
</div>