<li data-id="{{id}}" class="js-carusel-item gallery__slider__item">
    <img src="http://asvid.flashambush.ru/{{id}}.png" class="gallery__slider__img" />
    <div class="video-btn"></div>
    <div class="gallery__slider__bottom">
        <div class="gallery__slider__bottom-wrap">
            <div class="gallery__slider__title">{{title}}</div>
            <div class="gallery__slider__likes">{{like}}</div>
        </div>
    </div>
</li>