<div class="balloon for-{{id}}">
    <div class="balloon-body">
        <div class="top-image" data-title="{{title}}" data-url="http://asimage.flashambush.ru/md_{{id}}.jpg" style="background-image: url('http://asimage.flashambush.ru/sm_{{id}}.jpg')"></div>
        <div class="mid-wrapper">
            <h3>{{title}}</h3>
            <div data-id="{{id}}" class="raiting choose">
                <span>рейтинг <span class="mark">{{mark}}</span></span><span class="mark-result">{{mark}}</span>
                <a class="send">оценить пляж</a>
            </div>
            <div class="address custom-font">{{address}}</div>
            <ul class="benefits">
                {{#if swimming}}
                <li><span class="icon swimming">&nbsp;</span>Места для купания</li>
                {{/if}}
                {{#if aquaFun}}
                <li><span class="icon aquaFun">&nbsp;</span>Развлечения на воде</li>
                {{/if}}
                {{#if kidsPlace}}
                <li><span class="icon kidsPlace">&nbsp;</span>Детская площадка</li>
                {{/if}}
                {{#if barbecue}}
                <li><span class="icon barbecue">&nbsp;</span>Места для барбекю</li>
                {{/if}}
                {{#if chairs}}
                <li><span class="icon chairs">&nbsp;</span>Шезлонги</li>
                {{/if}}
                {{#if cafe}}
                <li><span class="icon cafe">&nbsp;</span>Кафе</li>
                {{/if}}
                {{#if parking}}
                <li><span class="icon parking">&nbsp;</span>Стоянка</li>
                {{/if}}
                {{#if price}}
                <li><span class="icon price">&nbsp;</span>Платно</li>
                {{else}}
                <li><span class="icon free">&nbsp;</span>Бесплатно</li>
                {{/if}}
            </ul>
            <div class="logo">&nbsp;</div>
        </div>
        <div class="arrow">&nbsp;</div>
    </div>
    <div class="label-buy" data-toggle="modal" data-target="#buyModal">&nbsp;</div>
</div>