<div class="city city-{{id}}">
    <div class="weather">
        <div class="top-image">
            <div class="title">{{title}}</div>
            <div class="darker">&nbsp;</div>
        </div>
        <div class="description">{{desc}}</div>
        <img src="http://resources.flashambush.ru/garnier/AS-site/weather-icons/{{icon}}.png"/>

        <div class="temp">{{temp}}<span class="grad">&#9900;</span></div>
    </div>
</div>