.add-beach-feedback {
  position absolute;
  min-height 180px
  min-width 320px
  background-color #ffffff
  top 50%
  left 50%
  transform(translate(-50%, -50%))
  z-index 1
  text-align: center
  box-shadow(0 3px 10px rgba(0, 0, 0, 0.5))
  padding 25px
  h4 {
    margin 20px 0 30px 0
  }
}
.add-beach-form {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right 25px;
  z-index 1;
  width 350px;
  padding 25px 15px 15px 25px
  background-color #fff
  border-radius 6px
  box-shadow(0px 0px 15px 0px rgba(50, 50, 50, 0.75))

  @media (max-width: $xs) {
    & {
      font-size: 80%;
    }
  }
  .form-group {
    @media (max-width: $xs) {
      & {
        margin-bottom: 10px;
      }
    }
  }
  .has-error {
    input[type=file] {
      color #a94442
    }
  }
  .ui-autocomplete {
    background-color #ffffff
    margin 0
    padding: 6px 6px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .175)
    z-index 2
    li {
      list-style none
      font-size 12px
      padding: 3px 6px
      border-radius 3px
      cursor pointer
      &.ui-state-focus {
        background-color #ff8400
        color #fff
      }
    }
  }
  .close {
    position absolute
    top 10px
    right 10px
    opacity 1
  }
  .col-sm-2, .col-sm-10 {
    padding-right 0
    padding-left 0
    b {
      display inline-block
      padding 3px 0
    }
  }
  .btn-group {
    margin-bottom: 15px
    .checkbox-custom, .radio-custom {
      color #0061ff
      margin 4px 10px
      padding 0
      border-bottom dashed #d4e6fe 1px
      &.active {
        background-color #d4e6fe
        border-radius 3px
        box-shadow none
        padding 3px 9px
        margin 1px
      }
    }
  }
}