.advices

  &__gray-block-wrap
    margin: 2% 0;

    @media screen and (max-width: $xss)
      &
        margin: 20px 0;

  &__gray-block
    text-align: center;
    background: #f7f7f7;
    padding: 50px;
    border: 10px solid #fff;
    box-sizing: border-box;

    @media screen and (max-width: $xss)
      &
        padding: 20px;

    &__title
      font-size: 20px;
      line-height: 1.4;
      font-weight: bold;
      width: 80%;
      margin: 0 auto 15px;

      @media screen and (max-width: $xss)
        &
          width: 90%;
          font-size: 18px;

    &__text
      font-size: 14px;
      line-height: 1.4;

      @media screen and (max-width: $xss)
        &
          font-size: 13px;

  &__products
    text-align: center;

    &_noholidays
      width: 40%;
      display: inline-block;
      vertical-align: middle;

      @media screen and (max-width: $xss)
        &
          width: 80%;

    &_ten-adv
      width: 80%;
      display: inline-block;
      vertical-align: middle;

    &_winter
      width: 80%;
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;

    &_use-cream
      width: 80%;
      display: inline-block;
      vertical-align: middle;

    &_use-cream-two
      width: 112%;
      text-align: left;
      margin-left: -6%;

      @media screen and (max-width: $xs)
        &
          width: 108%;
          margin-left: 0;

      @media screen and (max-width: $xss)
        &
          text-align: center;

    @media screen and (max-width: $xs)
      &_sochi
        margin-top: -10px;

    &__item
      display: inline-block;

      &_two
        vertical-align: middle;
        width: 49%;
        position: relative;


    &__img
      position: relative;
      left: 25px;
      margin-bottom: 5px;
      z-index: 1;

      &_use-cream
        width: 60px;

      &_use-cream-two
        left: 18px;

      &_winter
        width: 160px;
        left: 15px;

      &_tan
        width: 92px;
        left: 18px;

      @media screen and (max-width: $x)
        &
          width: 60px;

        &_winter
          width: 130px;

        &_tan
          width: 87px;

      @media screen and (max-width: $xss)
        &
          left: 0;

      @media screen and (max-width: $xm)
        &_sochi
          width: 70px;

        &_use-cream-two
          width: 70px;

        &_use-cream
        &_noholidays
          width: 70px;

        &_winter
          width: 120px;

        &_tan
          width: 85px;

      @media screen and (max-width: $xs)
        &_sochi
          width: 60px;

        &_use-cream-two
          width: 67px;
          left: 5px;

        &_use-cream
        &_noholidays
          width: 60px;

._opened-show
  display: none;

._opened ._opened-show
  display: inline-block;

