/*.modal__social-auth
  width: 200px;*/

#authModal .modal-dialog, #createCoolajeModal .modal-dialog
  text-align center;
  width 390px

  @media (max-width: $xss)
    &
      width: 100%;
      margin: 0;

  .modal-body
    background-color: $orange;

.social-auth
  margin 20px 0

  &_finish-video
    width: 280px;
    text-align: center;
    margin: 6% auto;
    background-color: $orange2;
    height: 122px;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.4);
    z-index: 1;
    position: relative;

  &__item
    //margin-bottom: 10px;
    display: inline-block;
    width: 25%;
    text-align: center;

  &_finish-video &__item
    width: 49%;
    height: 113px;
    vertical-align: middle;

  &__link
    display: block;
    margin: 10px;
    text-align: center;

  &_finish-video &__link
    position: relative;
    top: 50%;
    //margin: -45px 0 0;
    transform: translateY(-50%);

  &_finish-video &__item:first-child &__link
    border-right: 1px solid rgba(255,255,255, 0.2);

  &__line
    width 25%
    background-color #FFFFFF
    height 1px
    margin auto

  &__title
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top 50px
    margin-bottom 20px
    font-weight bold

    @media (max-width: $xss)
      &
        font-size: 28px;

  &__subtitle
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    margin: 10px 0;
    margin-bottom 30px
    text-transform: uppercase;

  &__auth-ico
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;

  &_finish-video &__auth-ico
    border-radius: 0;

#authModalWarning .modal-dialog {

}