.rules
  background: #f7f7f7 url("../img/banners/children-middle.jpg") center top no-repeat;
  background-size: 100% auto;
  padding: 0 50px;
  margin-right: 1%;
  margin-left: 1%;
  padding-top: 300px;

  @media screen and (max-width: $x)
    &
      padding-left: 30px;
      padding-right: 30px;

  @media screen and (max-width: $xs)
    &
      padding-left: 10px;
      padding-right: 10px;


  @media screen and (max-width: $xss)
    &
      padding-top: 130px;
      margin: 0;
      padding-bottom: 10px;

  &__container
    background: #fff;
    padding-bottom: 60px;

    @media screen and (max-width: $xss)
      &
        padding-bottom: 100px;

  &__text
    font-size: 16px;
    max-width: 70%;
    padding: 50px 0;
    margin: 0 auto;
    text-align: center;
    line-height: 1.3;

    @media screen and (max-width: $xss)
      &
        padding: 30px 0;
        max-width: 90%;

  &__tbl
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    vertical-align: top;
    display: table;

    @media screen and (max-width: $xs)
      &
        display: none;

    &_mobile
      display: none;

      @media screen and (max-width: $xs)
        &
          display: table;
          width: 80%;
          margin: 0 auto;

    &__row
      vertical-align: top;
      display: table-row;

      @media screen and (max-width: $xs)
        &
          display: block;
          border-bottom: 1px solid #ececec;

        &:last-child
          border: none;

    &__cell
      width: 25%;
      display: table-cell;
      table-layout: fixed;
      box-sizing: border-box;
      border-right: 1px solid #ececec;

      @media screen and (max-width: $xs)
        &
          width: 100%;
          border-right: none;
          display: block;

      &:last-child
        border: none;

      &_title
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        padding: 3% 5%;
        text-transform: uppercase;
        box-sizing: border-box;
        font-size: 16px;

        @media screen and (max-width: $xs)
          &
            font-size: 14px;

        @media screen and (max-width: $xss)
          &
            font-size: 18px;

      &_img
        vertical-align: top;
        text-align: center;

      &_text
        padding: 3% 0;

    &__img
      height: 100%;

    &__text
      font-size: 14px;
      text-align: center;
      width: 90%;
      margin: 0 auto;

      @media screen and (max-width: $xs)
        &
          font-size: 12px;

      @media screen and (max-width: $xss)
        &
          font-size: 16px;
          line-height: 1.3;

  &__banner
    max-width: 512px;
    width: 100%;
    margin: 43px auto 0;
    border: 2px solid #b4c832;
    height: 100px;

    @media screen and (max-width: $xss)
      &
        position: relative;

    &__img
      display: block;
      width: 168px;
      height: 130px;
      float: left;
      margin: -31px 0px -2px -2px;

    &__block
      width: calc(100% - 168px);
      margin-left: 168px;
      position: relative;
      height: 100%;

      @media screen and (max-width: $xss)
        &
          position: static;

    &__text
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      padding-top: 42px;

      @media screen and (max-width: $xss)
        &
          font-size: 15px;
          line-height: 1.3;
          padding-top: 27px;
          padding-left: 12px;


.protect
  border: 10px solid #fff;
  background-color: #ee770a;

  @media screen and (max-width: $xss)
    &
      border: 0;

  &__text-wrap
  &__img-wrap
    width: 50%;
    display: table-cell;
    vertical-align: middle;

    @media screen and (max-width: $xss)
      &
        display: block;
        width: 80%;
        margin: 0 auto;

  &__img-wrap
    text-align: center;

  &__img
    width: 100%;
    max-width: 404px;

    @media screen and (max-width: $xss)
      &
        margin-top: 5%;

  &__text-wrap
    color: #fff;
    padding-left: 34px;

    @media screen and (max-width: $xss)
      &
        padding: 0;

  &__title
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.3;
    padding: 20px 0;
    max-width: 75%;
    margin: 40px 0 20px;

    @media screen and (max-width: $xss)
      &
        max-width: 100%;

    &:after,
    &:before
      content: '';
      position: absolute;
      top: 0;
      width: 60%;
      height: 0;
      border-top: 1px solid #fff;
      left: 0;

      @media screen and (max-width: $xss)
        &
          width: 100%;

    &:after
      top: auto;
      bottom: 0;

  &__text
    max-width: 83%;
    padding-bottom: 30px;

    @media screen and (max-width: $xss)
      &
        max-width: 100%;

    & p
      margin-bottom: 20px;
      font-size: 13px;

      &:last-child
        max-width: 80%;
        margin-bottom: 0;


.products
  color: #fff;
  line-height: 1.3;
  margin-bottom: 4%;

  &__item
    width: 48%;
    float: left;
    position: relative;
    margin-bottom: 2%;
    min-height: 465px;
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: contain;

    &_1
      background-image: url(../img/children/product-1.png);

    &_2
      background-image: url(../img/children/product-2.png);

    &_3
      background-image: url(../img/children/product-3.png);

    &_4
      background-image: url(../img/children/product-4.png);

    &._orange
      background-color: #f5aa15;

    &._yellow
      background-color: #ffcc00;

    @media screen and (max-width: $xss)
      &
        width: 100%;
        max-width: 467px;
        float: none;
        margin-bottom: 20px;

    &:nth-child(2n-1)
      margin-right: 1%;
      margin-left: 1%;

      @media screen and (max-width: $xss)
        &
          margin-left: auto;
          margin-right: auto;

    &:nth-child(2n)
      margin-left: 1%;
      margin-right: 1%;

      @media screen and (max-width: $xss)
        &
          margin-left: auto;
          margin-right: auto;

  &__title
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 9% 0;

  &__text-wrap
    width: 45%;
    margin-left: 50%;
    margin-top: 7%;

    @media screen and (max-width: $xs)
      &
        margin-left: 47%;
        width: 43%;

  &__text
    font-size: 18px;

    @media screen and (max-width: $xs)
      &
        font-size: 16px;

  &__sub-text
    font-size: 13px;
    margin-top: 10%;
    max-width: 75%;
    padding-bottom: 10px;

  &__img
    width: 100%;
    max-width: 467px;

  &__bottom-wrap
    position: absolute;
    bottom: 13%;