
@font-face {
  font-family: 'AvantGardeGothicC';
  src: url('../fonts/AvantGardeGothicC.eot');
  src: url('../fonts/AvantGardeGothicC.eot') format('embedded-opentype'),
          url('../fonts/AvantGardeGothicC.woff2') format('woff2'),
          url('../fonts/AvantGardeGothicC.woff') format('woff'),
          url('../fonts/AvantGardeGothicC.ttf') format('truetype'),
          url('../fonts/AvantGardeGothicC.svg#AvantGardeGothicC') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'AvantGardeGothicCBold';
  src: url('../fonts/AvantGardeGothicCBold.eot');
  src: url('../fonts/AvantGardeGothicCBold.eot') format('embedded-opentype'),
          url('../fonts/AvantGardeGothicCBold.woff2') format('woff2'),
          url('../fonts/AvantGardeGothicCBold.woff') format('woff'),
          url('../fonts/AvantGardeGothicCBold.ttf') format('truetype'),
          url('../fonts/AvantGardeGothicCBold.svg#AvantGardeGothicCBold') format('svg');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'AvantGardeGothicCItalic';
  src: url('../fonts/AvantGardeGothicCItalic.eot');
  src: url('../fonts/AvantGardeGothicCItalic.eot') format('embedded-opentype'),
          url('../fonts/AvantGardeGothicCItalic.woff2') format('woff2'),
          url('../fonts/AvantGardeGothicCItalic.woff') format('woff'),
          url('../fonts/AvantGardeGothicCItalic.ttf') format('truetype'),
          url('../fonts/AvantGardeGothicCItalic.svg#AvantGardeGothicCItalic') format('svg');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'AvantGardeGothicCBoldItalic';
  src: url('../fonts/AvantGardeGothicCBoldItalic.eot');
  src: url('../fonts/AvantGardeGothicCBoldItalic.eot') format('embedded-opentype'),
          url('../fonts/AvantGardeGothicCBoldItalic.woff2') format('woff2'),
          url('../fonts/AvantGardeGothicCBoldItalic.woff') format('woff'),
          url('../fonts/AvantGardeGothicCBoldItalic.ttf') format('truetype'),
          url('../fonts/AvantGardeGothicCBoldItalic.svg#AvantGardeGothicCBoldItalic') format('svg');
  font-style: italic;
  font-weight: bold;
}

