.js-gallery-slider {
  max-width: 701px;
  left: 50%;
  transform(translate(-50%, 0));
}

.gallery
  background: #fff;
  position relative;

  &__title
    text-transform: uppercase;
    background-color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 15px 0px 10px;
    color: #000;
    font-size: 20px;
    line-height: 1;

  &__title-wrap
    text-align center
    margin-bottom: 15px;

  &__slider
    position: relative;
    overflow: hidden;
    width: 100%;

    &__item
      width: 234px;
      float: left;
      position: relative;
      box-sizing: border-box;

    &__prev
    &__next
      background: url("../img/gallery/arr.jpg") 0 0 no-repeat;
      width: 48px;
      height: 100%;
      max-height: 93px;
      background-size: contain;


    &__prev
      //left: -48px;
      left: 0;
      transform: translate(-100%, -50%);

      @media (max-width: $xss)
        &
          transform(translate(0%, -50%));
          z-index: 10;

    &__next
      background: url("../img/gallery/arr-r.jpg") 0 0 no-repeat;
      //right: -48px;
      right: 0;
      transform: translate(100%, -50%);

      @media (max-width: $xss)
        &
          transform(translate(0%, -50%));
          z-index: 10;

    &__bottom
      background-image: linear-gradient(0deg, #000, rgba(0,0,0,0));
      background-size: cover;
      background-repeat: repeat-x;
      position: absolute;
      bottom: 0;
      height: 50px;
      width: 100%;
      color: #fff;

    &__bottom-wrap
      position: absolute;
      width: 100%;
      bottom: 10px;

    &__title
      max-width: 78%;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      float: left;
      font-weight: bold;
      padding-left: 10px;
      box-sizing: border-box;
      font-size: 15px;

      @media (max-width: $x)
        &
          font-size: 13px;

      @media (max-width: $xs)
        &
          font-size: 12px;

    &__likes
      float: right;
      max-width: 22%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      padding-right: 24px;
      box-sizing: border-box;
      font-size: 15px;

      display: none!important; // скажем, что так и было

      @media (max-width: $x)
        &
          font-size: 13px;

      @media (max-width: $xs)
        &
          font-size: 12px;

      &:after
        content: '';
        display: block;
        position: absolute;
        width: 16px;
        height: 14px;
        top: 50%;
        right: 5px;
        transform: translate(0, -50%);
        background: url("../img/gallery/like.png") 0 0 no-repeat;


    &__img
      @media (max-width: $xss)
        &
          margin: 0 auto;

.video-btn
  position: absolute;
  z-index: 3;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/play-btn.png") 0 0 no-repeat;
  cursor: pointer;