.my-account-notlog
  float: right;
  padding: 10px;
  color: #fff;
  background: #004532;
  min-width: 110px;
  font-size: 13px;
  line-height: 1;
  margin-right: 15px;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;

  @media screen and (max-width: $xss)
    &
      display: none;

.main-nav ul.links-list > li > .nav-item
  box-sizing: border-box;

  @media screen and (max-width: $xl)
    &
      //padding: 25px 22px 20px 22px;
      padding: 0;
      position: absolute;
      display: block!important;
      //height: auto;
      height: 0;
      top: 30px;
      left: 10px;
      right: 0;
      box-shadow: 0 6px 10px 0 rgba(50,50,50,.75);
      background-color: #fff;
      overflow: hidden;
      z-index: 0;
      //max-height: 0;
      /*-webkit-transition: max-height 1s;
      -moz-transition: max-height 1s;
      -ms-transition: max-height 1s;
      -o-transition: max-height 1s;
      transition: max-height 1s;*/
      transition: padding .5s;

.main-nav ul.links-list > li:hover > .nav-item
  @media screen and (max-width: $xl)
    &
      height: auto;
      display: block!important;
      padding: 25px 22px 20px 22px;
      z-index: 1;
      //max-height: 20000px;


/*.mobile-main-nav
  @media screen and (max-width: $xss)
    & .nav-content-wrap
      //max-width: 0;
      //opacity: 0;
      //width: auto;
      //transition: max-width 0.3s ease-out, opacity 0.3s ease-out;

    &._opened
      //display: block;

      & .nav-content-wrap
      //width: 75vw;
      //max-width: 75vw;
      //opacity: 1;*/


.header

  & .anchors-nav-wrap
    border: none;

  & .main-nav
    margin-left: 1%;
    margin-right: 1%;

.header-navbar
  display: none;

  @media screen and (max-width: $xss)
    &
      display: block;
      position: relative;
      min-height: 50px;
      margin-bottom: 20px;
      border: 1px solid rgba(0, 0, 0, 0);
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;

      &__btn-wrap
        background-color: #fff;
        padding-right: 10px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid $grayLight;

      &__brand
        height: 50px;
        font-size: 18px;
        line-height: 20px;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255,255,255,.25);
        color: #000;
        padding: 9px 9px 5px 50px;
        background: url(../img/basket_.png) no-repeat 7px center;
        background-size: 30px auto;

        &:hover
          color: #000;

      &__nav

        &__menu-item
          background: #fff;
          padding: 10px 10px 7px 10px;
          margin-top: 5px;
          display: block;
          border: 1px solid $grayLight;
          text-decoration: none;
          color: #000;

          &:hover
            background-color: $orange2;
            color: #fff;
            border: 1px solid $orange2;

.header-navbar-toggle
  @media screen and (max-width: $xss)
    &
      background-color: #fff;
      float: none;
      margin-right 0

      .icon-bar
        background-color: #000;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;

      .icon-bar+.icon-bar
        margin-top: 4px;

.content
  &__nav
    &__item
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1;
      display: inline-block;
      color: #000;
      background-color: #fff;
      padding: 10px 10px 7px 10px;
      margin-top: 5px;
      transition: background-color 0.3s ease-out, color 0.3s ease-out;
      font-weight: bold;

      &:hover
        background-color: $orange;
        color: #fff;

      @media screen and (max-width: $xs)
        &
          font-size: 11px;
          margin-top: 3px;
          padding: 5px;

      @media screen and (max-width: $x)
        &
          font-size: 11px;
          margin-top: 3px;
          padding: 5px;

      @media screen and (max-width: $xm)
        &
          font-size: 12px;
          margin-top: 5px;
          padding: 7px;

      &_buy
        margin-top: 20px;
        padding-left: 35px;
        background-image: url(../img/basket_.png);
        background-size: 30px auto;
        background-position: 5px center;
        background-repeat: no-repeat;

        &:hover
          background-color: #fff;
          color: #000;

        @media screen and (max-width: $xs)
          &
            margin-top: 5px;
            padding-left: 30px;
            background-size: 25px auto;

        @media screen and (max-width: $x)
          &
            margin-top: 10px;
            padding-left: 30px;
            background-size: 25px auto;

        @media screen and (max-width: $xm)
          &
            margin-top: 15px;
            padding-left: 30px;
            background-size: 25px auto;

    & li:first-child &__item
      margin-top: 0px;
      background-color: $orange;
      color: #fff;

      @media screen and (max-width: $xs)
        &
          margin-top: 0px;

      @media screen and (max-width: $x)
        &
          margin-top: 0px;

      @media screen and (max-width: $xm)
        &
          margin-top: 0px;
