timeline-disc()
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid $orange2;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #fff;
  z-index: 1;
  position: relative;



.timeline
  width: 98%;
  margin: 5% auto 3%;
  position: relative;
  display: table;
  table-layout: fixed;

  @media screen and (max-width: $xss)
    &
      width: 100%;
      display: block;

  &__item
    cursor: pointer;
    display: table-cell;
    vertical-align: top;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 9%;

    @media screen and (max-width: $xss)
      &
        width: 16%;
        display: inline-block;
        margin-bottom: 15px;

    &:before
      content: '';
      height: 0px;
      margin: 0;
      border-top: 1px solid #f2f2f2;
      position: absolute;
      bottom: 7px;
      z-index: 0;
      //right: 0%;
      //transform: translateX(-50%);
      left: 100%;
      width: 100%;
      margin-left: -30px;

      @media screen and (max-width: $xss)
        &
          margin-left: -41px;

      @media screen and (max-width: 400px)
        &
          margin-left: -29px;

    &:last-child:before
      display: none;

    &__txt
      font-size: 14px;

      @media screen and (max-width: $xss)
        &
          font-size: 12px;

    &__disc
      timeline-disc();

    &._active &__disc
      background-color: $orange2;

  &__slider
    timeline-disc();
    //bottom: 0;
    z-index: 2;
    position: absolute;
    background-color: $orange2;
    cursor: move;

    @media screen and (max-width: $xss)
      &
        cursor: pointer;

.info-text
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
  text-align: center;

.sharings
  border: 1px solid #99b5ad;
  border-left: 0;
  border-right: 0;
  margin-top: 4%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  text-align: center;

  &__item
    //display: table-cell;
    display: inline-block;
    vertical-align: middle;
    padding: 0 2%;

    @media screen and (max-width: $xss)
      &
        height: 42px;
        width: 200px;
        text-align: left;
        padding: 0;
        margin: 0 auto 10px;
        display: block;

    &:first-child
      text-align: right;
      padding: 0;

      @media screen and (max-width: $xss)
        &
          text-align: left;
          padding: 0;

    &:last-child
      text-align: left;
      padding: 0;

      @media screen and (max-width: $xss)
        &
          text-align: left;
          padding: 0;
          margin-bottom: 0;
          height: auto;

    &__link
      display: inline-block;
      vertical-align: middle;
      //background-size: 38px auto;
      position: relative;
      text-decoration: none;
      color: #000;
      font-size: 14px;
      padding-left: 45px;

      &:before
        content: '';
        position: absolute;
        left: 0;
        width: 38px;
        height: 38px;
        background-repeat: no-repeat;
        background-image: url(../img/social/big-soc.png);
        background-size: auto 38px;
        top: 50%;
        transform: translateY(-50%);

      &._fb:before
        background-position: 0 0;

      &._tw:before
        background-position: -83px 0;

      &._email:before
        background-position: right 0;
