#map
  height 580px;

  @media screen and (max-width: $xss)
    &
      width: calc(100% - 40px);
      margin-left: 20px;
      margin-right: 20px;
      height: 500px;

.balloon {
  width 250px
  min-height 150px
  position relative
  transform(translate(20px, -50%))
  & > .label-buy {
    position: absolute
    right: -59px
    bottom: 25px
    width: 60px
    height: 177px
    background url("../img/lable.png") no-repeat
    z-index 1
    cursor pointer
  }
  .balloon-body {
    position relative
    border-radius 6px
    background-color #ffffff
    z-index 7
    box-shadow(0 3px 10px rgba(0, 0, 0, 0.5))
    & > .arrow {
      position: absolute
      left: -10px
      top: 50%
      margin-top: -8px
      display: block
      width: 0px
      height: 0px
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
      border-right: 10px solid #fff
    }
    .top-image {
      width 250px
      height 130px
      background-color #eee
      background-size cover
      border-radius 6px 6px 0 0
      cursor pointer
    }
    .mid-wrapper {
      padding 0 15px 15px 15px
      .raiting {
        margin-bottom 10px
        span:last-child {
          margin-right 8px
        }
        a {
          color #aaa
          font-size 12px
          cursor: pointer;
        }
      }
      .logo {
        position absolute
        bottom -10px
        right -10px
        width 100px
        height 100px
        background-size contain
        background-image: url("../img/logo.png");
        background-position: center center;
        background-repeat: no-repeat;
      }
      h3 {
        margin 5px 0
        font-size 16px
        font-weight bold
      }
      .address {
        font-size 14px
        margin 5px 0
        font-style italic
      }
      ul {
        padding 0
        li {
          position relative
          list-style none
          margin 7px 0
          line-height 24px
          padding-left 40px
          font-size 12px
          .icon {
            position absolute
            left 15px
            top 12px
            width 36px
            height 26px
            background-position center center
            background-repeat no-repeat
            background-size contain
            transform(translate(-50%, -50%))
            &.swimming {
              background-image url("http://resources.flashambush.ru/garnier/AS-site/benefits-icons/swimming.svg")
            }
            &.aquaFun {
              background-image url("http://resources.flashambush.ru/garnier/AS-site/benefits-icons/aquaFun.svg")
            }
            &.barbecue {
              background-image url("http://resources.flashambush.ru/garnier/AS-site/benefits-icons/barbecue.svg")
            }
            &.cafe {
              background-image url("http://resources.flashambush.ru/garnier/AS-site/benefits-icons/cafe.svg")
            }
            &.chairs {
              background-image url("http://resources.flashambush.ru/garnier/AS-site/benefits-icons/chairs.svg")
            }
            &.free {
              background-image url("http://resources.flashambush.ru/garnier/AS-site/benefits-icons/free.svg")
            }
            &.kidsPlace {
              background-image url("http://resources.flashambush.ru/garnier/AS-site/benefits-icons/kidsPlace.svg")
            }
            &.parking {
              background-image url("http://resources.flashambush.ru/garnier/AS-site/benefits-icons/parking.svg")
            }
            &.price {
              background-image url("http://resources.flashambush.ru/garnier/AS-site/benefits-icons/price.svg")
            }
          }
        }
      }
    }
  }
}

.zoom {
  width 67px;
  height 67px;
  background-color #fff;
  border-radius 100%;
  background-position center center;
  background-repeat no-repeat;
  background-size auto auto;
  cursor pointer;
  box-shadow(0 0 10px rgba(0, 0, 0, 0.5));

  &.zoom-in {
    background-image url(../img/zoom-in.png);
  }

  &.zoom-out {
    background-image url(../img/zoom-out.jpg);
  }
}

.content__col_map {
  #vkshare0 {
    position: absolute !important;
    bottom: 0;
    left: 0;
    z-index: 15;
    width: 175px !important;
    height: 37px !important;

    @media (max-width: $xss) {
      margin-left: 25px;
    }
  }
  .fb-share-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 15;

    @media (max-width: $xss) {
      left: 25px;
    }

  }
  .add-beach {
    position absolute
    right 25px;
    top 10px;
    z-index 1
    bottom: auto;
    left: auto;

    & span {
      position: absolute;
      left 7px;
      top -2px;

      @media (max-width: $xm) {
        top: 2px;
      }
    }
  }
  .choose-region {
    position absolute
    left 25px
    top 10px
    z-index 1
    color #000
    width: 250px;
    background: #fff;

    input, button {
      padding 15px 15px 10px 15px
      font-size: 20px;
      border-radius 0
      font-weight bold
      background none
      background-color #ffffff
      border none
      box-shadow none
      height auto
      font-family: "AvantGardeGothicC";

    }
    @media (max-width: $xm) {
      input, button {
        padding: 12px 15px 8px 15px;
      }
    }
    @media (max-width: $x) {
      input, button {
        padding: 12px 15px 8px 15px;
      }
    }
  }

  @media (max-width: $xss) {
    .add-beach {
      position relative;
      width 100%
      top 0
      left 0
      margin-bottom 25px
    }

    .choose-region {
      position relative;
      width 100%
      top 0
      left 0
      margin-bottom 25px
      border 1px solid #ff8400
    }
    & .btn-cta.add-beach {
      position: relative

      span {
        font-size: 150%;
      }
    }
  }
}

.raiting
  .star
    display inline-block
    padding 0
    background url("../img/stars.jpg") left top no-repeat
    width: 14px
    height 13px

    &.active
      background url("../img/stars.jpg") right top no-repeat