#buyModal {
  .modal-body {
    padding 30px
    .buy-wrapper {
      //width 265px
      width: 50%;
      height 240px
      position relative
      float left
      text-align center

      //display: inline-block;
      //vertical-align: middle;


      &.first {
        border-right solid 1px $grayBorder
        border-bottom solid 1px $grayBorder
      }
      &.last {
        border-left solid 1px $grayBorder
        border-top solid 1px $grayBorder
        margin-top -1px
        margin-left -1px
      }
      img {
        display block;
      }
      a {
        display inline-block
        vertical-align: middle
        //position absolute
        position relative
        top 50%
        left 0
        transform(translate(0, -50%))

        &:before {
          display: inline-block
          vertical-align middle
          content: '';
        }

        .btn-cta {
          margin-top 25px
          padding 10px 15px 5px 20px

          position relative

          &:hover {
            background-color #fff
            color $orange
            border 1px solid $orange
          }
        }
      }
    }
    @media (max-width: $xss) {
      .buy-wrapper {
        left 0
        right 0
        border-bottom solid 1px $grayBorder
        width: 100%;
        margin: 0 auto;
        float: none;

        &.first {
          border-right none
        }
        &.last {
          border none
        }
      }
    }
  }
}
.modal
  text-align: center;

  .modal-dialog
    display: inline-block;
    text-align: left;
    vertical-align: middle;

    .modal-content
      overflow: hidden



/*
@media screen and (max-width: $xss) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}*/
