@import url(vendor/mediaelementplayer.css);
@import url(vendor/main.css);
@import url(vendor/preloader.css);
@import url(vendor/responsive.css);


@import "helper.styl";
@import "fonts.styl";
@import "vars.styl";

@import "modal.styl";
@import "auth.styl";
@import "header.styl";

@import "posters.styl";
@import "map.styl";
@import "weather.styl";
@import "addBeach.styl";
@import "terms.styl";
@import "gallery.styl";

@import "history.styl";
@import "children.styl";
@import "advices.styl";

// common
body
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'AvantGardeGothicC';
  color: #333;

  .block-all {
    position fixed;
    width: 100%;
    height 100%;
    left: 0;
    top: 0;
    background-color rgba(0,0,0,0.6);
    z-index: 1000;

    .preloader-my {
      width: 200px;
      height: 100px;
      position absolute;
      left: 50%;
      top: 50%;
      transform(translate(-50%, -50%));
      border-radius 10px;
      border 1px solid #eee;
      background-image url(../img/loader.gif);
      background-position center center;
      background-size auto;
      background-repeat no-repeat;
      background-color #fff;
    }
  }

  @media screen and (max-width: $xss)
    &
      padding-top: 54px;

  &._no-user-select
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

h1, h2, h3, h4, h5, h6, .custom-font, .btn, nav, .title, .temp
  font-family: 'AvantGardeGothicC';

.fake {
  //height: 37px;
  position absolute;
  z-index 10;
  bottom 13px;
  color: #fff;
  border-radius 3px;
  padding 7px 8px;
  line-height 20px;

  &:hover, &:active {
    color: #fff;
  }

  &.vk {
    left: 15px;
    background-color #587fa8;

    .logo-button {
      display inline-block;
      background-image url(../img/vk-logo.png);
      width 23px;
      height 20px;
    }
  }

  &.fb {
    left: 168px;
    background-color #3b599b;

    .logo-button {
      display inline-block;
      background-image url(../img/fb-logo.png);
      width 18px;
      height 20px;
    }
  }

  .text {
    position relative;
    bottom 3px;
  }

  .logo-button {
    display inline-block;
  }
}
a
  text-decoration: none;
a:hover
  text-decoration: none;

a:focused
  text-decoration: none;

a:visited
  text-decoration: none;

._bold
  font-weight: bold;

.link_orange
  color: $orange2;

//content
.content
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;

  &_advices
  &_children
  &_index
    background-image: url(../img/bg.jpg);
    background-position: 0 -100px;

  &_children
  &_index
    .btn-cta
      position absolute


  &__tag
    bottom 110px
    left 45px
    position absolute
    word-wrap: break-word;
    white-space: pre-line;
    max-width 80%

    &_children
      left: 40%;

      @media screen and (max-width: $x)
        &
          left: 30%;

      @media screen and (max-width: $xss)
        &
          bottom: 100px;

    &_advices
      left: 55%;

      @media screen and (max-width: $xss)
        &
          bottom: 80px;

    @media screen and (max-width: $xss)
      &
        max-width: 90%;
        left: 20px;

    h1, span
      display inline
      background-color #fff
      box-shadow: 7px 0 0 #fff, -7px 0 0 #fff;
      padding 7px 0

    h1
      margin 0
      font-size 52px
      font-weight 900

      &.tag-children
        font-size: 34px;

        @media screen and (max-width: $xm)
          &
            font-size: 27px;
            line-height: 1.2;

        @media screen and (max-width: $xss)
          &
            line-height: 0.8;

      &.tag-advices
        font-size: 45px;
        position: relative;
        left: 7px;

        @media screen and (max-width: $xm)
          &
            font-size: 34px;
            line-height: 1.2;

      @media screen and (max-width: $xm)
        &
          font-size: 40px;
          line-height: 1.3;

      @media screen and (max-width: $xss)
        &
          font-size: 30px;
          line-height: 1.1;

    span
      font-size 32px
      line-height: 1.2;

      @media screen and (max-width: $xm)
        &
          font-size: 27px;

      @media screen and (max-width: $xss)
        &
          font-size: 20px;
          line-height: 1.1;

  &_history
    background-image: url("../img/main_bg.jpg");


  &__block
    position: relative;
    max-width: 952px;
    margin: 0 auto;

    &_number
      margin-top: 2%;

      @media screen and (max-width: $xss)
        &
          margin-top: 20px;

    &_first
      padding-top: 2%;

    &_weather-wrapper
      margin-top: 2%;

      @media screen and (max-width: $xss)
        &
          margin-top: 20px;

    &_rules
      margin-top: 2%;

      @media screen and (max-width: $xss)
        &
          margin-top: 20px;
          margin-bottom: 20px;

    &_products
      margin-top: 2%;

      @media screen and (max-width: $xss)
        &
          margin-top: 20px;

  &__col
    float: left;

    &__number-wrap
      display: inline-block;
      position: relative;

      @media screen and (max-width: $xss)
        &
          margin-bottom: 20px;

    &__number-text-wrap
      //display: inline-block;
      position: relative;
      //padding: 30px;
      box-sizing: border-box;
      width: 90%;
      margin: 0 auto;
      padding-top: 4%;
      padding-bottom: 3%;
      display: block;

    &_map,
    &_number-one-text,
    &_top-banner
      width: 74%;
      margin-right: 1%;
      position: relative;

    &_map
      @media screen and (max-width: $x)
        &
          width: 96%;
          margin-left: 2%;
          margin-right: 2%;

      @media screen and (max-width: $xss)
        &
          width: 100%;
          margin-left: 0%;
          margin-right: 0%;

    &_number-one-text
      background-color: $grayLight;
      //min-height: 258px;

    &_navbar
      width: 24%;
      position: relative;
      margin-left: 1%;
      //max-width: 249px;

    &_number-one
      position: relative;
      width: 22%;
      margin-right: 2%;
      margin-left: 1%;

    &_weather
      position: relative;
      width: 22%;
      margin-left: 1%;
      margin-right: 2%;

      @media screen and (max-width: $x)
        &
          width: 98%;
          margin: 0 2%;

      @media screen and (max-width: $xss)
        &
          width: 100%;
          margin: 0;

    @media screen and (max-width: $xss)
      &_weather&_gallery
        display: none;

    /*&_number-one-text
      padding: 30px;
      box-sizing: border-box;*/

    &__img
      display: block;

      &_top-banner
        width: 100%;
        max-width: 713px;

      &_small-logo
        max-width: 147px;
        max-height: 140px;
        width: 100%;
        height: 100%;
        margin: 7% auto;

      &_number-one
        width: 100%;
        max-width: 230px;
        max-height: 258px;

    &__number-one-img-txt,
    &__img-title
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      font-size: 34px;
      line-height: 1;
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      padding: 0 15px;
      box-sizing: border-box;

    &__img-title-bg
      background: url("../img/history-title-bg.png") no-repeat center center;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;

    &__number-one-img-txt
      padding: 40px 20px;
      background-color: $orange2;
      width: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      line-height: 0.7;

      & ._big
        font-size: 65px;
        line-height: 1;

      & ._medium
        font-size: 18px;
        font-style: italic;
        line-height: 0.7;
        display: inline-block;

      & ._small
        font-size: 17px;
        font-style: italic;
        line-height: 0.7;
        display: inline-block;

      ._disclaimer
        font-size: 11px;
        position: absolute;

    &__number-title
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
      color: #000;

    &__number-list
      font-size: 14px;
      display: block;
      color: #000;
      margin-top: 14px;
      list-style-type: disc;

      & li
        display: list-item;
        padding-left: 3px;
        margin-left: 20px;
        margin-bottom: 14px;

        &:last-child
          margin-bottom: 0;

.btn-cta
  font-size 22px
  padding 15px 20px 10px 25px
  background-color #ff8400
  color #fff
  text-transform uppercase
  border-radius 0
  font-weight 700

  &:hover
    background-color #fff
    color #ff8400

  &_tan
    bottom 30px
    left 45px

  &_adv
    bottom 30px
    left 40%
    padding: 10px 15px 6px;

    @media screen and (max-width: $x)
      &
        left: 30%;

    @media screen and (max-width: $xss)
      &
        left: 20px;

  &_advice-all
    bottom 30px
    left 55%
    padding: 10px 15px 6px;
    position: absolute;

    @media screen and (max-width: $xss)
      &
        left: 20px;

  &_adv-product-more-cream
    padding: 10px 15px 6px;
    font-size: 14px;
    margin-top: 20px;

    @media screen and (max-width: $xm)
      &
        padding: 7px 10px 3px;

    @media screen and (max-width: $xs)
      &
        z-index: 0;
        position: absolute;
        left: 51px;
        top: 27px;

    @media screen and (max-width: $xss)
      &
        position: relative;
        left: -10px;
        top: auto;

  &_adv-product-more-tan
  &_adv-product-more-winter
    padding: 10px 15px 6px;
    font-size: 14px;
    margin-top: -20px;

    @media screen and (max-width: $xm)
      &
        padding: 7px 10px 3px;

    /*@media screen and (max-width: $xs)
      &
        z-index: 0;
        position: absolute;
        left: 51px;
        top: 27px;*/

    @media screen and (max-width: $xss)
      &
        position: relative;
        left: -10px;
        top: auto;

  &_adv-product-more-tan
    margin-top: 20px;

  &_find-b
    bottom: 0;
    left: 26px;
    padding: 10px 15px 6px;
    font-size: 16px;
    transform: translate(0, 50%);

    @media screen and (max-width: $xss)
      &
        transform: translate(0,150%);
        width: 96%;
        margin-left: 2%;
        bottom: -14px;
        left: 0;

    &:hover
      border: 1px solid #ff8400;

  &_show
    background-color: #fff;
    color: #ff8400;
    font-size: 17px;
    padding: 8px 14px 6px 14px;
    transform: translateY(calc(100% + 10px));
    bottom: 13%;

    &:hover
      background-color: #ff8400;
      color: #fff;

  @media screen and (max-width: $xm)
    &
      font-size: 100%;


  &_video-share
    box-shadow: 0 5px 10px 1px rgba(0,0,0,0.6);

    .content_index &
      position: relative;
      margin: 0 auto;

  &_video-reload
    box-shadow: 0 5px 10px 1px rgba(0,0,0,0.6);
    font-size: 15px;

    .content_index &
      position: relative;
      margin: 0 auto;

    & span
      position: relative;
      padding-right: 15px;

    & span:after
      content: '';
      display: block;
      background-image: url("../img/reload-btn.png");
      background-repeat: no-repeat;
      background-position: 0 center;
      width: 6px;
      height: 11px;
      line-height: 11px;
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translate(0, -50%);
      margin-top: -2px;

  &_terms
    display: inline-block;
    font-size: 16px;

    .content_index &
      position: relative;
      margin: 0 auto;

.btn-custom
  background-color #f3be00
  color #ffffff
  border-radius 5px
  padding 9px 25px

.alert-warning_auth
  margin-bottom: 0;



.video-block
  //margin-top: 2%;
  background: url("../img/collage-bg.jpg") 0 0 no-repeat;
  background-size: cover;
  min-height: 470px;
  position: relative;
  cursor: pointer;

  &._ended
    cursor: default;

  @media (max-width: $xss)
    &
      padding-top: 30px;

  ._ended&:before
    display: none;

  &:before
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 10%;
    height: 101px;
    background: url("../img/waves.png") 0 0 no-repeat;
    background-size: contain;

    @media screen and (max-width: $x)
      &
        height: 108px;
        background-size: cover;

    @media screen and (max-width: $x)
      &
        background-size: contain;

    @media (max-width: $xss)
      &
        display: none;

  &__left
    width: 308px;
    height: 379px;
    position: absolute;
    bottom: 10%;
    left: 6%;
    box-shadow: 0px 3px 10px 4px rgba(0,0,0,0.5);
    background: url("../img/polaroid.jpg") 0 0 no-repeat;
    z-index: 1;

    ._ended &
      display: none;

    @media screen and (max-width: $x)
      &
        left: 7%;

    @media (max-width: $xss)
      &
        position: relative;
        bottom: auto;
        left: auto;
        margin: 0 auto;

  &__video-elem
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;

    &._has-src
      display: block;

    ._ended &
    ._ended &._has-src
      display: none;

  &__video-elem._has-src ~ div:not(&__finish)
    display: none;

  &__video
    width: 274px;
    height: 300px;
    position: absolute;
    top: 15px;
    left: 18px;
    z-index: 2;
    background: url("../img/video-sample.png") 0 0 no-repeat;

  &__video-btn
    position: absolute;
    z-index: 3;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/play-btn.png") 0 0 no-repeat;
    cursor: pointer;

  &__right
    margin-left: calc(6% + 308px);
    //position: relative;
    position: absolute;
    z-index: 0;


    ._ended &
      display: none;

    @media screen and (max-width: $x)
      &
        margin-left: calc(7% + 308px);

    @media (max-width: $xss)
      &
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: 0 auto;

  &__logo
    width: 100%;
    height: auto;
    max-width: 363px;
    margin: 0 auto;

  &__btn-wrap
  &__title-wrap
    text-align: center;
    position: relative;

  &__title-wrap
    top: -40px;

    @media screen and (max-width: $xm)
      &
        top: -20px;

    & > br
      display: block;
      line-height: 2.1;

  &__btn-wrap
    top: 15px;

    @media screen and (max-width: $xm)
      &
        top: 50px;

    @media (max-width: $xss)
      &
        top: 15px;
        margin-bottom: 50px;

  &__title
    font-size: 30px;
    background-color: #fff;
    line-height: 1.2;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;

    @media screen and (max-width: $xm)
      &
        font-size: 25px;
        padding: 5px;

    @media screen and (max-width: $xs)
      &
        font-size: 22px;

  &__finish
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
    transition-delay: 0.3s;
    position: relative;
    min-height: 470px;

    @media screen and (max-width: $xss)
      &
        height: 0;
        min-height: 0;

    ._ended &
      visibility: visible;
      opacity: 1;

    &:before
    &:after
      content: '';
      position: absolute;
      display: block;

    &:before
      width: 107px;
      height: 188px;
      background: url("../img/video-end-bg-left.png") 0 0 no-repeat;
      bottom: 10%;
      left: 2%;

      @media screen and (max-width: $xss)
        &
          bottom: auto;
          top: 10%;

    &:after
      width: 193px;
      height: 420px;
      background: url("../img/video-end-bg-right.png") 0 0 no-repeat;
      top: 3%;
      right: 0;

  &__finish-title-wrap
    text-align: center;
    position: relative;
    z-index: 5;
    margin-bottom: 5px;

    &:first-child
      padding-top: 7%;

  &__finish-title
    font-size: 30px;
    background-color: #fff;
    line-height: 1.2;
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;

    @media screen and (max-width: $xss)
      &
        font-size: 22px;
        line-height: 1.3;

  &__reload-wrap
    text-align: center;
    z-index: 1;
    position: relative;

/////////////// media queries ///////////////
@media screen and (max-width: $xm) {
  .content__col__img_small-logo {
    margin: 4% auto;
  }
}
@media screen and (max-width: $x) {
  .content__col__img_small-logo {
    margin: 0 auto;
  }
  .content__col__number-one-img-txt {
    padding: 15px;
    width: 75%;

    ._big {
      font-size: 56px;
    }
    ._medium {
      font-size: 16px;
    }
    ._small {
      font-size: 15px;
    }
  }

}
@media screen and (max-width: $xs) {
  .content__col__img_small-logo {
    margin: 0 auto;
    width: 80%;
  }
  .content__col__number-one-img-txt {
    ._big {
      font-size: 50px;
    }
  }
}
@media screen and (max-width: $xss) {
  //header menu
  .content__col_navbar {
    display: none;
  }
  .content__col_top-banner {
    width: 100%;
  }
  .content__col_number-one {
    width: 100%;
    margin: 0 auto;
    float: none;
    clear: both;
    text-align: center;
  }
  .content__col_number-one-text {
    width: 100%;
  }
}

