.posters
  //width: 98%;
  //margin: 0 auto;

  &_main-advices
    margin-top: 20px;

  &_children
    margin-top: 2%;

  @media screen and (max-width: $xss)
    &
      width: 100%;

  a&__item_link
    display block
    text-decoration none
    color #333

    &:visited
    &:focused
    &:hover
      color #333

  &__item
    width: 48%;
    float: left;
    position: relative;
    margin-bottom: 2%;

    @media screen and (max-width: $xss)
      &
        margin-bottom: 20px;

    &_full
      width: 98%;

    @media screen and (max-width: $xss)
      &
        width: 100%;
        max-width: 467px;
        float: none;

      &_full
        max-width: 100%;

    &:nth-child(2n-1)
      margin-right: 1%;
      margin-left: 1%;

      @media screen and (max-width: $xss)
        &
          margin-left: auto;
          margin-right: auto;

    &:nth-child(2n)
      margin-left: 1%;
      margin-right: 1%;

      @media screen and (max-width: $xss)
        &
          margin-left: auto;
          margin-right: auto;

  &__img
    max-width: 467px;
    width: 100%;
    display: block;

    &_full
      max-width: calc(952px - 2%);

  &__txt-wrap
    position: absolute;
    z-index: 1;
    width: 51%;
    height: 51%;
    border: 10px solid #fff;
    background: $grayLight;
    text-align: center;
    //padding-top: 10%;
    overflow: hidden;
    box-sizing: border-box;
    transition: width 0.3s ease-out, height 0.3s ease-out, top 0.3s ease-out, bottom 0.3s ease-out, left 0.3s ease-out, right 0.3s ease-out, border-width 0.3s ease-out;

    &_full
      width: 25%;

      @media screen and (max-width: $xss)
        &
          width: 51%;

    &._opened
      width: 100%;
      height: 100%;
      border-width: 0px;

    &._bottom
      bottom: 0;
      border-bottom: none;

    &._top
      top: 0;
      border-top: none;

    &._left
      left: 0;
      border-left: none;

    &._right
      right: 0;
      border-right: none;


  &__txt-container-wrap
    display: table;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    width: 100%;

  &__txt-container
    display: table-cell;
    vertical-align: middle;

  &__plus
    width: 21px;
    height: 21px;
    background-image: url(../img/orange-plus.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    position: absolute;
    z-index; 2;

    &._opened
      background-image: url(../img/orange-minus.png);

    &:hover
      cursor: pointer;
      background-image: url(../img/white-plus.png);

    &._opened:hover
      background-image: url(../img/white-minus.png);

    ._bottom &
      top: 8px;

    ._top &
      bottom: 8px;

    ._left &
      right: 8px;

    ._right &
      left: 8px;

    @media screen and (max-width: $x)
      &
        width: 18px;
        height: 18px;
        background-size: contain;

        ._bottom &
          top: 5px;

        ._top &
          bottom: 5px;

        ._left &
          right: 5px;

        ._right &
          left: 5px;

    @media screen and (max-width: $xs)
      &
        width: 16px;
        height: 16px;
        background-size: contain;

        ._bottom &
          top: 3px;

        ._top &
          bottom: 3px;

        ._left &
          right: 3px;

        ._right &
          left: 3px;

  &__year
    font-size: 30px;
    line-height: 1;
    color: $orange2;
    border-bottom: 1px solid #dfdfdf;
    display: inline-block;
    padding: 0 8% 3%;
    margin-bottom: 5px;

    @media screen and (max-width: $xs)
      &
        font-size: 24px;
        padding: 0 5% 1%;
        margin-bottom: 3px;

  &__title
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    padding: 0 5px;
    font-weight: 0;
    margin-bottom: 0;
    transition: font-weight 0.5s ease-out, margin 0.5s ease-out;

    ._opened &_children
      font-weight: 800;
      margin-top: 50px;
      margin-bottom: 40px;

    ._opened &_children&_children2
      margin-top: 37px;
      margin-bottom: 37px;

    ._opened &_hide-opened
        display: none;

    @media screen and (max-width: $x)
      &
        font-size: 14px;

    @media screen and (max-width: $xs)
      &
        font-size: 11px;
        margin-top: 2px;

  &__text
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    display: inline-block;
    float: left;
    transition: visibility 0s, opacity 0.5s linear, height 0.5s, padding 0.5s ease-out;
    //transition-delay: 0.5s;
    padding: 0 6%;

    ._opened &
      visibility: visible;
      opacity: 1;
      height: auto;

    @media screen and (max-width: $xm)
      &_noholidays
      &_sochi
        font-size: 13px;
        padding: 0px 4%;

    @media screen and (max-width: $x)
      &
        font-size: 12px;
        padding: 3px 5px;

      &_noprint
        font-size: 12px;
        padding: 10px 20px;

      &_noholidays
      &_sochi
        font-size: 12px;
        padding: 5px 3%;

    @media screen and (max-width: $xs)
      &
        font-size: 11px;

    &_children div
      margin: 0 0 10px;

    &_noholidays p
    &_sochi p
    &_noprint p
    &_children p
      margin: 0 0 20px;

    @media screen and (max-width: $xs)
      &_noholidays p
      &_sochi p
        margin-bottom: 10px;

    &_noholidays-float p
      width: 59%;
      display: inline-block;
      vertical-align: middle;

      @media screen and (max-width: $xss)
        &
          width: 80%;

  &__number
    font-size: 30px;
    color: $orange2;
    border: 2px solid $orange2;
    border-radius: 100%;
    display: inline-block;
    margin: 0 auto;
    width: 49px;
    height: 48px;
    text-align: center;
    padding: 17px 0;

    ._opened &_hide-opened
      display: none;

  &__circle
    background url("../img/cricle.png") 0 0 no-repeat;
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 17px 0;

.posters-collapse
  background: url('../img/orange-arr-collapse.png') 0 0 no-repeat;
  margin: 30px auto;
  display: none;
  width: 68px;
  height: 68px;
  cusror: pointer;

  &._visible
    display: block;
