.terms
  background-image: linear-gradient(45deg, #71bbe5, #8ae1fe);
  padding: 3% 0;

  &__title-wrap
    text-align center
    margin-bottom: 15px;

  &__title
  &__subtitle
  &__list__text
    text-transform: uppercase;
    background-color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 10px;

  &__title
    color: $orange2;
    font-size: 25px;

    @media (max-width: $xss)
      &
        font-size: 20px;
        margin-bottom: 15px;

  &__subtitle
    color: #000;
    font-size: 20px;

    @media (max-width: $xss)
      &
        font-size: 15px;
        padding: 5px;
        display: inline;

  &__list__text
    color: #000;
    font-size: 12px;

  &__list
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    text-align: center;

    @media (max-width: $xss)
      &
        margin-bottom: 0;

    &__item
      float: left;
      width: 25%;
      text-align: center;

      @media (max-width: $xss)
        &
          width: 80%;
          float: none;
          clear: both;
          margin: 0 auto 20px;

    &__img
      width: 100%;
      height: auto;
      max-width: 120px;

    &__text
      display: inline;
      padding: 5px;

    &__text-wrap
      max-width: 150px;
      margin: 10px auto 0;

  &__cta-wrap
    text-align: center;