.content__block_weather-wrapper

  .city
    margin-bottom 25px
    position: relative;
    line-height: 1.42857143;

    @media screen and (max-width: $x)
      &
        float: left;
        width: 46%;
        margin-bottom: 2%;

      &:first-child
        margin-right: 6%;

    @media screen and (max-width: $xss)
      &
        width: 47%;
        margin-bottom: 20px;

    &.city-524901
      /* Москва */
      .top-image
        background-image: url("../img/moscow.jpg");

    &.city-694423
      /* Крым */
      .top-image
        background-image url("../img/crimea.jpg")

    .weather
      height 260px
      background-color #ffffff
      box-shadow(0 3px 10px rgba(0, 0, 0, 0.5))

      @media screen and (max-width: $xm)
        &
          height: 240px;

      @media screen and (max-width: $x)
        &
          height: 260px;

      .top-image
        padding 10px
        position relative
        height 130px
        width 100%
        background-size cover
        background-position center center

        .darker
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(top bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          position absolute
          top 0
          bottom 0
          left 0
          right 0

        .title
          padding 10px
          position absolute
          bottom 0
          left 0
          color #ffffff
          font-size 21px
          font-weight bold
          z-index 5

      .description

        &:first-letter
          text-transform uppercase

        padding 10px
        font-size 16px

        @media screen and (max-width: $xm)
          &
            font-size 14px

      .temp
        position absolute
        bottom 0
        right 40px
        font-size 52px
        font-style italic
        font-weight 500

        @media screen and (max-width: $xm)
          &
            right: 30px;
            font-size: 40px;

        .grad
          font-style normal
          font-size 20px
          position absolute
          top 3px
          right -18px

          @media screen and (max-width: $xm)
            &
              font-size: 17px;
              top: 1px;

      img
        position absolute
        bottom 0
        height 75px
        left 10%

        @media screen and (max-width: $xm)
          &
            left: 0px;
            width: 55px;
            height: auto;
